.site-upper-content {
  /* position: absolute; */
  /* top: 50%;
  transform: translateY(-50%); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
  width: 99vw;
}

.nav-elements-list {
  padding-left: 1.7vw;
}

.scrolling-button {
  background-color: rgb(49, 60, 91);
  border: none;
  color: #fff;
  width: 275px;
  margin-left: 5%;
  margin-top: 50px;
}

.img-container-tablet-phone {
  display: none;
}

.nav-brand-list {
  padding-right: 1.7vw;
}

.inner-headings h1 {
  margin-left: 5%;
}

.inner-headings p {
  margin-left: 5%;
}

.sb-icon {
  height: 10px;
}

.inner-headings h5 {
  margin-left: 5%;
}

.inner-headings .intro-text {
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

#float-bar {
  display: none;
  background-color: rgb(24, 28, 37);
  padding: 20px;
}

.center-image {
  /* zoom: 105%; */
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

ng {
  color: rgb(202, 50, 53);
}

.center-f {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.experience-content {
  width: 75%;
  margin: 20px;
}

.experience-main-body {
  width: 100%;
}

.float-bar-list li {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  margin: 15px;
}

.mobile-pdf-d {
  background-color: #7569da;
  width: 150px;
  border-color: #7569da;
  /* margin-left: 1vw; */
}

.resume-mobile-content {
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.containter-rmc {
  display: block;
  text-align: center;
}

.resume-main-content {
  margin: 20px;
  text-align: center;
}

.resume-main-content iframe {
  width: 65%;
  height: 75vh;
}

.mobile-navbar {
  display: none;
}

@media screen and (max-width: 991px) {
  .desktop-navbar {
    display: none;
  }

  .resume-mobile-content {
    display: flex;
  }

  .resume-main-content {
    display: none;
  }

  .mobile-navbar {
    display: flex;
  }
  /* .mobile-break: {
    display: flex;
  } */

  .nav-elements-list {
    margin-left: 10%;
  }

  .center-im age {
    /* margin-top: 5vh;
    margin-bottom: 5vh; */
    zoom: 4;
  }

  .inner-headings h1 {
    text-align: center;
    margin-left: 0;
  }

  .inner-headings h5 {
    text-align: center;
    margin-left: 0;
  }

  .inner-headings p {
    text-align: center;
    margin-left: 0;
  }

  .inner-headings .intro-text {
    text-align: center;
    display: none;
  }
  .site-upper-content {
    z-index: 1;
    position: relative;
    margin-top: 40vh;
  }

  #i-start {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  #northeastern-image {
    display: none;
  }

  .marathon-text {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .img-container {
    display: none;
  }

  .img-container-tablet-phone {
    display: flex;
    z-index: -1;
    height: 99vh;
    position: absolute;
  }
}

.mail-icon {
  height: 10px;
}

.aarish-kodnaney {
  color: rgb(131, 162, 255);
  text-shadow: 0 0 7px rgb(48, 59, 92), 0 0 10px rgb(48, 59, 92),
    0 0 21px rgb(48, 59, 92), 0 0 42px rgb(48, 59, 92), 0 0 82px rgb(48, 59, 92),
    0 0 92px rgb(48, 59, 92), 0 0 102px rgb(48, 59, 92),
    0 0 151px rgb(48, 59, 92);
}

.xid {
  height: 75vh;
  object-fit: cover;
}
